<div class="row-fluid">
  <div class="span9">

    <h3>Most popular posts</h3>
    <ul class="nolist">
      <% @posts.each do |post| %>
        <li>
          <div class="row">
            <div id="votes">
              <%= link_to "", post_votes_path(post, vote: "voteup"), method: :post,class: "icon-arrow-up" %>
              <%= post.vote_count %>
              <%= link_to "", post_votes_path(post, vote: "votedown"), method: :post,class: "icon-arrow-down" %>
            </div>
            <div id="post">
              <%= link_to post.title, handle_url(post.url) %>
              <br>
              submitted by <%= post.user.username %>
              ( <%= link_to pluralize(post.comments.count, 'comment'), post %> )
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span3">
    <%= render 'sidebar' %>
  </div>
</div>

