<h3> Create a new post <a href = "/posts/new"> here </a></h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <div class="span1">
        <%= link_to "up", post_voteup_path(post), method: :post %>
        <br>
        total
        <%= post.votes.count %>
        <br>
        <%= link_to "down", post_votedown_path(post), method: :post %>
      </div>
      <div>
        <%= link_to post.title, post.url %>
        <br>
        <br>
          (There is <%= link_to pluralize(post.comments.count, 'comment'), post %>)
      </div>
    </li>
  <% end %>
</ul>
