<h3>Create a new post!</h3>
<%= form_for @post do |f| %>
  <%= f.label "post title" %>
  <%= f.text_field :title %>
  <%= f.label "post url" %>
  <%= f.text_field :url %>
  <%= f.submit "create", class: "btn btn-block btn-success" %>
<% end %>
