<h2><a href="<%= @post.url %>"> <%= @post.title %> </a></h2>

<p>
  <h3> Say something... </h3>
  <%= form_tag post_comments_path(@post), method: "post" do |f| %>
    <%= text_area_tag :content, nil, rows: 2 %>
    <br>
    <%= submit_tag "Submit!" %>
  <% end %>
</p>

<p>
  <ul>
    <% if @comments.empty? %>
      There is no comments now.
    <% else %>
      <% @comments.each do |comment| %>
        <li> <%= comment.content %> </li>
      <% end %>
    <% end %>
  </ul>
</p>

