<h2><a href="<%= @post.url %>"> <%= @post.title %> </a></h2>

<p>
  <%= form_for([@post, @comment]) do |f| %>
    <h4>Say something ...</h4>
    <%= f.text_area :content, :rows => "3" %>
    <br>
    <%= f.submit "submit" %>
  <% end %>
</p>

<p>
  <ul>
    <% if @comments.empty? %>
      There is no comments now.
    <% else %>
      <% @comments.each do |comment| %>
        <li> <%= comment.content %> </li>
      <% end %>
    <% end %>
  </ul>
</p>

