<h2><a href="<%= @post.url %>"> <%= @post.title %> </a></h2>
<br>
<legend>  <%= handle_url @post.url %> </legend>

<p>
  <%= form_tag post_comments_path(@post) do |f| %>
    <h4>Say something ...</h4>
    <%= text_area_tag :content, nil, :rows => "3" %>
    <%= submit_tag "submit", class: "btn btn-block btn-success" %>
  <% end %>
</p>

<p>
  <ul>
    <% if @comments.empty? %>
      There is no comments now.
    <% else %>
      <% @comments.each do |comment| %>
        <li> <%= comment.content %> </li>
      <% end %>
    <% end %>
  </ul>
</p>

